/*
    Created on : 7 de jun de 2019, 08:28:30
    Author     : Rafael Jeferson <rafa.jefer@gmail.com>
*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif; }

.container {
  padding: 0 10px;
  width: 1170px; }

p {
  font-family: 'Noto Sans', sans-serif;
  font-size: 19px; }

/* Style linha do topo area */
#header-line {
  height: 46px;
  margin-bottom: 1px;
  border-bottom: 1px solid #eeeced;
  background-color: #0054ff;
  display: flex;
  justify-content: center; }
  #header-line .container {
    display: flex;
    justify-content: space-between; }
    #header-line .container .left {
      display: flex;
      align-items: center;
      font-weight: bold;
      font-size: 14px;
      color: #fff; }
      #header-line .container .left img {
        padding: 0 15px; }
    #header-line .container .right {
      display: flex;
      align-items: center; }
      #header-line .container .right a.blog {
        border: 2px solid #00fbff;
        color: #fff;
        width: 215px;
        text-decoration: none;
        text-align: center;
        border-radius: 20px;
        margin-right: 42px;
        transition: 0.5s;
        font-weight: 600; }
        #header-line .container .right a.blog:hover {
          color: #fff;
          background: #00fbff; }
      #header-line .container .right .icon-instagram {
        width: 22px;
        height: 20px;
        background: url("../img/icon-socais.png") 0 0; }
      #header-line .container .right .icon-facebook {
        width: 24px;
        height: 20px;
        background: url("../img/icon-socais.png") -20px 0; }
      #header-line .container .right .icon-linkedin {
        width: 24px;
        height: 20px;
        background: url("../img/icon-socais.png") -43px 0; }
      #header-line .container .right .icon-search {
        width: 24px;
        height: 20px;
        background: url("../img/icon-socais.png") -73px 0; }
      #header-line .container .right img {
        transition: 0.1s; }
        #header-line .container .right img:hover {
          margin-bottom: 5px;
          opacity: 0.7; }

/* Style header area */
#header {
  height: 115px;
  display: flex;
  justify-content: center; }
  #header .container {
    display: flex;
    justify-content: space-between; }
    #header .container .logo {
      display: flex;
      align-items: center; }
    #header .container #navbar {
      display: flex;
      align-items: center; }
      #header .container #navbar ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex; }
        #header .container #navbar ul li {
          font-size: 16px;
          margin-left: 50px;
          font-weight: bold;
          text-transform: uppercase; }
          #header .container #navbar ul li a {
            color: #666666;
            text-decoration: none;
            padding-bottom: 12px;
            transition: 0.8s; }
            #header .container #navbar ul li a:hover {
              color: #0054ff;
              border-bottom: 5px solid #0054ff; }

/* Style Carousel area */
#carousel {
  height: 918px;
  display: flex;
  justify-content: center;
  background-image: url("../img/carousel-background.png");
  background-position: center;
  background-size: cover; }
  #carousel .container {
    display: flex;
    justify-content: flex-end;
    position: relative; }
    #carousel .container .carousel-item {
      display: flex;
      align-items: center; }
      #carousel .container .carousel-item .item-group {
        width: 429px;
        margin-right: 80px;
        margin-bottom: 120px;
        display: none; }
        #carousel .container .carousel-item .item-group h2 {
          color: #00fffc;
          font-size: 45px;
          font-weight: 900;
          line-height: 53px;
          margin-bottom: 20px; }
        #carousel .container .carousel-item .item-group p {
          font-size: 22px;
          line-height: 30px;
          color: #fff;
          font-family: 'Noto Sans', sans-serif;
          margin-bottom: 50px; }
        #carousel .container .carousel-item .item-group .btn {
          color: #00fffc;
          font-weight: 900;
          font-size: 25px;
          text-decoration: none;
          border-radius: 80px;
          border: 5px solid #00fffc;
          padding: 7px 70px;
          transition: 0.8s; }
          #carousel .container .carousel-item .item-group .btn:hover {
            color: #FFF;
            background-color: #00fffc; }
    #carousel .container .carousel-controls {
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-bottom: 80px;
      margin-left: -100px;
      width: 200px;
      text-align: center; }
      #carousel .container .carousel-controls ul {
        margin: 0;
        padding: 0;
        list-style: none; }
        #carousel .container .carousel-controls ul li {
          display: inline-block;
          padding: 7px;
          margin: 0 5px;
          border-radius: 50%;
          cursor: pointer;
          border: 2px solid #00fffc; }
        #carousel .container .carousel-controls ul li.active {
          background: #00fffc; }

#objetivos {
  height: 920px;
  display: flex;
  justify-content: center;
  background: url("../img/background.png") 0 -10px;
  background-position: center -121px;
  background-size: cover; }
  #objetivos .container {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #objetivos .container .row img.logo {
      margin-top: 115px;
      padding-bottom: 390px; }
    #objetivos .container .row:last-child {
      display: flex; }
      #objetivos .container .row:last-child .box {
        height: 400px;
        width: 300px;
        background: red;
        margin: 0 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        box-sizing: border-box;
        border-radius: 20px;
        border: 2px solid #e5e5e5;
        background-color: #fff; }
        #objetivos .container .row:last-child .box h2 {
          margin-top: 30px;
          margin-bottom: 8px;
          color: #0054ff;
          text-transform: uppercase; }
        #objetivos .container .row:last-child .box p {
          line-height: 27px;
          text-align: center;
          color: #666666;
          font-family: 'Noto Sans', sans-serif; }

#services {
  height: 570px;
  background-color: #0047d6;
  display: flex;
  margin-top: -50px;
  padding-top: 220px;
  justify-content: center; }
  #services .container {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #services .container .row {
      padding: 0px 40px; }
      #services .container .row:first-child h1 {
        color: #FFF;
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 60px; }
      #services .container .row:last-child {
        display: flex; }
        #services .container .row:last-child .services-image {
          margin-right: 50px; }
        #services .container .row:last-child .services-text h2 {
          font-size: 24px;
          font-weight: bold;
          text-transform: uppercase;
          color: #00fffc; }
        #services .container .row:last-child .services-text p {
          color: #fff; }

#consultoria {
  padding: 80px 0px;
  display: flex;
  justify-content: center;
  background-color: #0014b4; }
  #consultoria .container {
    display: flex; }
    #consultoria .container .image {
      margin: 0 50px 0 40px; }
    #consultoria .container .text {
      padding-right: 40px; }
      #consultoria .container .text h2 {
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        color: #00fffc; }
      #consultoria .container .text p {
        color: #fff; }

#cursos_palestras {
  padding: 90px 0px;
  display: flex;
  justify-content: center;
  background-color: #000697; }
  #cursos_palestras .container {
    display: flex; }
    #cursos_palestras .container .image {
      margin: 0 50px 0 40px; }
    #cursos_palestras .container .text {
      padding-right: 40px; }
      #cursos_palestras .container .text h2 {
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        color: #00fffc; }
      #cursos_palestras .container .text p {
        color: #fff; }

/*# sourceMappingURL=style.css.map */
